@import url("https://fonts.googleapis.com/css2?family=Pacifico:wght@200;400;600&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

* {
  box-sizing: border-box;
}
.cd__main {
  background: pink !important;
  font-family: "Pacifico", cursive !important;
  min-height: 450px;
}
body {
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Pacifico", cursive;
  margin: 0;
  min-height: 100vh;
  color: #555555;
  height: auto;
}

.heart {
  position: fixed;
  font-size: 1.5rem;
  top: -1vh;
  transform: translateY(0);
  animation: fall 3s linear forwards;
}

@keyframes fall {
  from {
    transform: translateY(0vh) translateX(-10vw);
  }
  to {
    transform: translateY(105vh) translateX(10vw);
  }
}

.crossed-out {
  position: relative;
}

.crossed-out::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 30px; /* Adjust this value to move the line up or down */
  height: 7px;
  width: 100%;
  background: currentColor;
}

#centered-gif {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw; /* Adjust this value to change the width of the image */
  height: auto; /* This will keep the aspect ratio of the image */
}

@media (max-width: 1300px){
  #centered-gif {
    width: 80vw; /* Adjust this value to change the width of the image */
    height: auto; /* This will keep the aspect ratio of the image */
  }
}

#text {
  position: absolute;
  bottom: 25%;
  text-align: center;
  font-size: 3rem;
  margin-top: 20px;
}

#buttons {
  position: absolute;
  margin-top: 20px;
  bottom: 17%;
}

.button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: #fff;
}

.button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 1300px) {
  .button {
    min-width: 120px;
    padding: 0 25px;
  }
}